body {
    background-color: #eee;
    overflow-x: hidden;
}

.content-box .content {
    padding: 20px;
}

.content-box {
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    background: #fff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 2px 0px #dadada;
    box-shadow: 0px 1px 2px 0px #dadada;
}

nav.navbar {
    position: relative;
    padding: 0;
    height: 70px;
    background: #607d8b !important;
    color: #fff !important;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
    -webkit-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.1), 0 1.5px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.1), 0 1.5px 6px rgba(0, 0, 0, 0.1);
    z-index: 12;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #fff !important;
    background-color: transparent !important;
}

.navbar-default .navbar-nav>li>a {
    color: #fff !important;
}

.navbar-brand {
    padding: 25px 25px;
    color: #fff;
}

.navbar-brand:hover {
    color: #eee;
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 25px;
        padding-bottom: 25px;
        background-color: transparent !important;
    }
}

.navbar-brand {
    color: #fff !important;
}

.data-info .dataTables_wrapper {
    background: #49ceff;
    color: #fff;
}

thead>tr>th {
    color: #fff;
}

.data-info .dataTables_wrapper tr {
    color: #333;
}

.dataTables_wrapper {
    -webkit-box-shadow: 0px 1px 2px 0px #dadada;
    box-shadow: 0px 1px 2px 0px #dadada;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 20px;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
    zoom: 1;
}

.toolbar {
    float: left;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    padding: 3px 10px;
}

table.display {
    border-bottom: 0 !important;
    width: 100% !important;
}

table.dataTable {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
}

.data-info thead tr {
    background: #3cb6e3 !important;
}

table.display tbody tr,
table.display tbody tr td {
    background: #fff !important;
    font-weight: 500;
}

.zero-m {
    font-weight: 600;
}

.btn-options {
    font-size: 23px;
}

.no-button {
    background-color: transparent;
    border: none;
    display: inline-block;
    margin: 0px 8px;
}

.charts {
    width: 100%;
    position: relative;
}

.mtd {
    display: inline-block;
    margin: 10px 20px;
}

#doughnut {
    width: 100%;
    height: 100%;
}

ul.doughnut-legend {
    margin-left: 0;
    height: 40px;
}

.chart-legend {
    margin-top: 40px;
}

.chart-legend li {
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    margin-right: 20px;
}

.chart-legend li span {
    display: inline-block;
    position: relative;
    width: 26px;
    height: 22px;
    top: 4px;
    margin-right: 8px;
}

#chartjs-tooltip {
    opacity: 1;
    position: absolute;
    background: none;
    color: #FFFFFF;
    font-size: 40px;
    padding: 3px;
}

#chartjs-tooltip.below {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

#chartjs-tooltip.below:before {
    border: solid;
    border-color: #111 transparent;
    border-color: rgba(255, 255, 255, .8) transparent;
    border-width: 0 8px 8px 8px;
    bottom: 1em;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    z-index: 99;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
}

#chartjs-tooltip.above {
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
}

#chartjs-tooltip.above:before {
    border: solid;
    border-color: #111 transparent;
    border-color: rgba(255, 255, 255, .8) transparent;
    border-width: 8px 8px 0 8px;
    bottom: 1em;
    content: "";
    display: block;
    left: 50%;
    top: 100%;
    position: absolute;
    z-index: 99;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}